/* THIS AMAZING WEBSITE WILL INCORPORATE ALL OF MY HTML AND CSS NOTES */
* {
  box-sizing: border-box;
}

html {
    /* UNIVERSAL TEXT ATTRIBUTES */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300; /* normal, 700 is bold */
    font-style: normal; /* not italic */
    text-align: left;
    color: white;
    font-size: 2.5vw; 
    width: 100%;
}

@font-face {
  font-family: "Harry Potter";
  src: url(./resources/fonts/harry-p-font/HarryP-MVZ6w.ttf) format("truetype");
}

a {
  color: rgb(130, 130, 255);
}

span {
  font-size: 3.5rem;
  font-family: "Harry Potter";
  text-shadow: 10px 10px 10px hsla(100, 10%, 0%, 0.8);
}

h1 {
  padding-top: 6vh;
  font-size: 1.2rem;
  text-shadow: 10px 10px 5px hsla(100, 10%, 0%, 0.8);
}

ol {
  list-style: decimal;
  font-size: 1.2rem;
}

th, td {
  border: 2px solid hsla(360, 100%, 100%, 0.9);
  padding: 5px 5px;
}

/* HAGRID, GROUNDSKEEPER AT HOGWARTS */

.haGRID {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 1%;
    min-height: 100vh;
    width: 100%;

    position: relative;
    z-index: 0;
}

.haGRID::before {
  content: "";
  position: absolute;
  inset: 0;

  background: url("./resources/lego\ hut\ two.png") center/cover no-repeat;
  z-index: -1;
}

.haggard {
    height: 90vh;
    max-width: 160%;
    align-self: end;
    animation: bounceIn 2s ease-in-out 0ms alternate;
}

.table {
  height: 70%;
  width: 100%;
  table-layout: fixed;

  word-spacing: 5px;
  overflow-wrap: break-word;
  line-height: 1.2;

  background: url("./resources/rubies.jpeg") center/cover no-repeat;
  align-self: center;
}

/* DUMBLEDORE, HEADMASTER OF HOGWARTS */

.dumbleGRID {
    display: grid;
    grid-template-columns: 3fr 1fr 4fr;
    gap: 1%;
    min-height: 100vh;
    width: 100%;

    background: url("./resources/sunset.jpg") bottom/cover no-repeat;
}

.dumbleGRID h1, .dumbleGRID ol, .dumbleGRID li {
  padding: 10px 0px 0px 50px;
}

.dumbledore {
    height: 90vh;
    max-width: 160%;
    align-self: end;
}

.dumbleGRID img {
  width: 140%;
  padding-left: 5vw;
}

.dumbleGRID .table {
   background: url("./resources/test.jpg") left/cover no-repeat;
   align-self: center;
   height: 75%;
   transform: translateY(-10%);
}

.dumbleGRID th, .dumbleGRID td {
  background-image: none;
}

/* SEVERUS SNAPE, POTIONSMASTER */

.snape {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 1%;
    min-height: 100vh;
    width: 100%;

    background: url("./resources/snape/lab.JPG") right/contain;
}

.snape h1 {
  padding-top: 100px;
}

.severus {
    height: 90vh;
    max-width: 160%;
    align-self: end;
    animation: bounceIn 2s ease-in-out 0ms alternate;
}

.snape img {
  width: 140%;
  height: 100vh;
}

.snape .special {
  position: relative;
  z-index: 0;
  align-self: center;
  height: 60vh;
  transform: translateY(-20%);
}

.snape .special::before {
  content: "";
  position: absolute;
  inset: 0; 
   background: url("./resources/snape/patronus.jpg") center/cover no-repeat;

  transform: scaleY(-1); 
  z-index: -1;
  opacity: 0.9;
}

.snape th, .snape td {
  background-image: none;
}

/* PROFESSOR MCGONAGALL, TRANSFIGURATION */

.McGonagall {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "text text text text"
    "sign teacher teacher teacher"
    "sign teacher teacher teacher";

    height: 100vh;
    background: url("./resources/back cover.jpg") top/cover;

  font-size: 4rem;
  font-family: "Harry Potter";
  overflow: hidden;
}

.teacher {
  grid-area: teacher;
  align-self: end;
  justify-self: end;
  min-width: 35vw;
  height: 80vh;
}

.sign {
  grid-area: sign;
  align-self: end;
}

.text {
  grid-area: text;
  padding: 3vh 10vh 0vh 0vh;
  align-self: end;
  justify-self: end;
  transform: translateY(-5%);

  opacity: 0.9;
  text-shadow: 10px 10px 10px hsla(40, 80%, 0%, 0.5);
}

.McGonagall span {
  position: absolute;
  font-family: 'Courier New';
  font-size: 1rem;
  right: 0;
  padding: 12% 21% 0 0;
}

.cat {
  display: none;
}

/* AND EVEN MORE (LUCIUS MALFOY) */

.more {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr;
    gap: 1%;
    height: 100vh;
    width: 100%;

    background: url("./resources/spin.gif") top/cover;
    overflow: hidden;
}

.more img {
  width: 140%;
  height: 100vh;
  align-self: center;
}

.more span {
  position: absolute;
  font-size: 2.2rem;
  font-family: "Harry Potter";
  padding: 1vw;
}

/* LANDING PAGE */

.homepage {
  position: relative;
  z-index: 0;

  display: grid;
  grid-template-columns: 4fr 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  height: 100vh;

  font-size: 3.4rem;
  text-align: right;
}

.homepage::before {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -1;
  
  background-image: url("./resources/dump/hogwarts.jpg");
  background-size: cover;

  filter: blur(2px);
}

.homepage img {
  grid-area: 1 / 2 / span 1 / span 1;
  padding: 1vw 0vw;

  height: 70vh;
  justify-self: center;
  filter: invert(100%);
}

img.quill {
  max-height: 20vh;
  transform: translateX(20%);
  filter: invert(100%) blur(2px);

  animation: grow 2s alternate;
  animation-delay: 3s;

  transition: transform 500ms ease-out 0ms, filter 700ms ease-in 100ms;
}

img.quill:hover {
  transform: scale(1.3) translateX(20%) translateY(-10%);
  filter: invert(100%) blur(0);
}

@keyframes grow {
    0% {
    transform: translateX(20%);
  }
  60% {
    transform: scale(1.3) translateX(20%) translateY(-10%);
    filter: invert(100%) blur(0);
  }
  100% {
    transform: translateX(20%);
  }

}

.homepage ul {
  grid-area: 2 / 2 / span 1 / span 1;
  justify-self: center;

  font-size: 1.2rem;
}

/* MEDIA QUERIES FOR MOBILE */

@media only screen and (min-width:600px) and (max-width:900px) {
  html {
    font-size: 3vw;
  }
}

@media only screen and (max-width: 600px){
  .table {
    visibility: hidden;
  }

  .homepage img {
    max-width: 90vw;
  }

/* MEDIA QUERIES FOR HAGRID */

.haggard {
  grid-column: 2;
  grid-row: 2;
  justify-self: end;
    max-width: 100%;
    max-height: 80%;
    transform: scaleX(-1.5) translateX(-20%);
}

.haGRID {
  max-height: 100vh;
  overflow: hidden;
}

.haGRID h1 {
  grid-column: 2;
  align-self: start;
  padding-left: 10px;

  font-size: 5rem;
  text-align: center;
}

.haGRID span {
  font-size: 10rem;
  letter-spacing: 0.2rem;
}

.haGRID::before {
  background-image: url("resources/lego\ hut\ two.png");
}

/* MEDIA QUERIES FOR DUMBLEDORE */

.dumbleGRID {
  max-height: 100vh;
}

.dumbledore {
    position: absolute;
    max-width: 100vw;
    height: 80%;
}

.dumbleGRID h1 {
  align-self: start;
  padding-left: 10px;

  font-size: 5rem;
  text-align: center;
}

.dumbleGRID span {
  font-size: 10rem;
  letter-spacing: 0.2rem;
}


/* MEDIA QUERIES FOR SNAPE */

.snape {
    overflow: hidden;
}

.snape h1 {
  align-self: center;
  z-index: 10;
  padding-left: 10px;
}

.severus {
  position: absolute;
  max-width: 100vw;
  height: 80%;
  
  z-index: 5;
}

.snape span {
  font-size: 10rem;
  letter-spacing: 0.1rem;
  line-height: 0.8;
}

.snape h1 {
  font-size: 3rem;
}

.snape .special {
  visibility: visible;

  width: 100vw;
  height: 10%;

  align-self: center;
  font-size: 4rem;
  color: hsla(100, 0%, 0%, 0)
}

.erase {
  display: none;
}

  /* MEDIA QUERIES FOR MCGONAGALL */

  .text {
    grid-area: 1 / 4 / 2 / span 1;
    align-self: start;

    font-size: 6rem;
    opacity: 1;
    text-align: center;

    padding: 10% 10%;

  }

  .McGonagall span {
    transform: translateY(100%);
  }

  .sign {
    position: absolute;
    right: 0;

    transform: scale(0.7) translateX(-25%) translateY(-22%);
  }

  .cat {
    display: grid;
    position: absolute;

    width: 100%;
    align-self: end;

    z-index: 2;
  }

  .teacher, .rarity {
    display: none;
  }

  /* MEDIA QUERIES FOR "AND MANY MORE..." */

  .more span {
    font-size: 7rem;
    transform: translateY(-70%);
  }

  .lucius {
    grid-column: 1;
    justify-self: center;
    
    min-width: 70vw;
    transform: scaleX(-1.1);
  }

  .flitwick {
    min-width: 50vw;
    max-height: 70vh;

    justify-self: end;
    transform: scaleX(-1.4) translateY(20%);
  }

}


/* @keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  } */