/* THIS AMAZING WEBSITE WILL INCORPORATE ALL OF MY HTML AND CSS NOTES */
* {
  box-sizing: border-box;
}

html {
    /* UNIVERSAL TEXT ATTRIBUTES */
    font-family:'Gill Sans', sans-serif;
    font-weight: 400; /* normal, 700 is bold */
    font-style: normal; /* not italic */
    text-align: left;
    color: white;
    font-size: 2vw; 
    width: 100%;
}

@font-face {
  font-family: "Harry Potter";
  src: url(./resources/fonts/harry-p-font/HarryP-MVZ6w.ttf) format("truetype");
}

a {
  color: rgb(130, 130, 255);
}

span {
  font-size: 3.5rem;
  font-family: "Harry Potter";
  text-shadow: 10px 10px 10px hsla(100, 10%, 0%, 0.8);
}

ol {
  list-style: decimal;
  font-size: 1.2rem;
}

.haGRID {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 1%;
    min-height: 100vh;
    width: 100%;

    position: relative;
    z-index: 0;

}

.haGRID::before {
  content: "";
  position: absolute;
  inset: 0;

    background-image: url("./resources/lego\ hut\ two.png");
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: blur(px);
}

 h1 {
  padding-top: 6vh;
  font-size: 1.2rem;
  text-shadow: 10px 10px 5px hsla(100, 10%, 0%, 0.8);
}

.haggard {
    height: 90vh;
    max-width: 160%;
    align-self: end;
    animation: bounceIn 2s ease-in-out 0ms alternate;
}

.table {
  height: 70%;
  width: 100%;
  table-layout: fixed;

  word-spacing: 5px;
  overflow-wrap: break-word;
  line-height: 1.2;

  background-image: url("./resources/rubies.jpeg");
  background-size: cover;
  align-self: center;

}

th, td {
  border: 2px solid hsla(360, 100%, 100%, 0.9);
  padding: 5px 5px;
}

.dumbleGRID {
    display: grid;
    grid-template-columns: 3fr 1fr 4fr;
    gap: 1%;
    min-height: 100vh;
    height: 100vh;
    width: 100%;

    background-image: url("./resources/sunset.jpg");
    background-size: cover;
    background-position: bottom;
}

.dumbleGRID h1, .dumbleGRID ol, .dumbleGRID li {
  padding: 10px 0px 0px 50px;
}

.dumbleGRID img {
  width: 140%;
  padding-left: 5vw;
}

.dumbleGRID .table {
   background-image: url("./resources/test.jpg");
   background-size: cover;
   background-position:left;
   align-self: center;
   height: 75%;
   transform: translateY(-10%);
}

.dumbleGRID th, .dumbleGRID td {
  background-image: none;
}

.snape {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 1%;
    min-height: 100vh;
    width: 100%;

    background-image: url("./resources/snape/lab.JPG");
    background-size: contain;
    background-position: right;

}

.snape h1 {
  padding: 100px 0px 0px 0px;
}

.snape img {
  width: 140%;
  height: 100vh;
}


.snape .special {
  position: relative;
  z-index: 0;
  align-self: center;
  height: 60vh;
  transform: translateY(-20%);
}


.snape .special::before {
  content: "";
  position: absolute;
  inset: 0; 
   background-image: url("./resources/snape/patronus.jpg");
   background-size: cover;
   background-position: center;
  transform: scaleY(-1); 
  z-index: -1;
  opacity: 0.9;
}


.snape th, .snape td {
  background-image: none;
}

.McGonagall {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "sign text text text"
    "sign teacher teacher teacher"
    "sign teacher teacher teacher";

    max-height: 100vh;
    height: 100vh;

    background-image: url("./resources/back cover.jpg");
    background-size: cover;
    background-position: top;

  font-size: 4rem;
  font-family: "Harry Potter";
  overflow: hidden;

}

.teacher {
  grid-area: teacher;
  align-self: end;
  justify-self: end;
  width: 31vw;
  height: 81vh;
  
}

.sign {
  grid-area: sign;
  align-self: end;
}

.text {
  grid-area: text;
  padding: 3vh 10vh 0vh 0vh;
  align-self: end;
  justify-self: end;

  opacity: 0.9;
  text-shadow: 10px 10px 10px hsla(40, 80%, 0%, 0.5);
}



.more {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr;
    gap: 1%;
    height: 100vh;
    width: 100%;

    background-image: url("./resources/spin.gif");
    background-size: cover;
    background-position: top;

    overflow: hidden;

}

.more img {
  width: 140%;
  height: 100vh;
  align-self: center;
}


.more span {
  position: absolute;

  font-size: 2.8rem;
  font-family: "Harry Potter";
  padding: 1vw 0vw 0vw 1vw;

}

/* HOMEPAGE */

.homepage {
  position: relative;
  z-index: 0;

  display: grid;
  grid-template-columns: 4fr 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  height: 100vh;

  font-size: 3.4rem;
  text-align: right;

}

.homepage::before {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -1;
  
  background-image: url("./resources/dump/hogwarts.jpg");
  background-size: cover;

  filter: blur(2px);

}

.homepage img {
  grid-area: 1 / 2 / span 1 / span 1;
  padding: 1vw 0vw;

  height: 70vh;
  justify-self: center;
  filter: invert(100%);
}


.homepage ul {
  grid-area: 2 / 2 / span 1 / span 1;
  justify-self: center;

  font-size: 1rem;
}



/* @keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  } */